<!--The content below is only a placeholder and can be replaced.-->
<section class="welcome">
  <h1>
    Welcome To MTBC Blockchain Network
  </h1>
  <div *ngIf="currentUser" class="user-info">
    <img src="assets/images/congas/{{congaName}}.jpeg" height="100px" width="125px">
    <h2>{{currentUser.split('#')[1]}}</h2>
  </div>
</section>
{{authenticated}}
<section *ngIf="!authenticated">
  <a href="http://10.10.30.188:3000/auth/github">Sign in with github</a>
</section>
<section *ngIf="authenticated && !loggedIn">
  <h2>Sign up</h2>
  <form (ngSubmit)="onSignUp()" #signupForm="ngForm">
    <table>
      <colgroup>
        <col span="1" style="width: 11%;">
        <col span="1" style="width: 89%;">
      </colgroup>
      <tr>
        <td>
          <label>ID</label>
        </td>
        <td>
          <input type="text" [(ngModel)]="signUp.id" #id="ngModel" name="id">
        </td>
      </tr>
      <tr>
        <td>
          <label>First Name</label>
        </td>
        <td>
          <input type="text" [(ngModel)]="signUp.firstName" #firstName="ngModel" name="firstName">
        </td>
      </tr>
      <tr>
        <td>
          <label>Surname</label>
        </td>
        <td>
          <input type="text" [(ngModel)]="signUp.surname" #surname="ngModel" name="surname">
        </td>
      </tr>
    </table>
    <button type="submit"
            class="primary">
      <div *ngIf="!signUpInProgress">
        <span>Sign up</span>
      </div>
      <div *ngIf="signUpInProgress" class="ibm-spinner-indeterminate small loop">
        <div class="loader">
          <svg class="circular" viewBox="25 25 50 50">
            <circle class="circle-path" cx="50" cy="50" r="20"/>
          </svg>
        </div>
      </div>
    </button>
  </form>
</section>
<section *ngIf="loggedIn">
  <h2>Available Patients</h2>
  <table>
      <tr >
          <td>PatientID</td>
          <td>PatientSSNHash</td>
          <td>PatientInfoHash</td>
          <td>
            <button type="button"
                    class="primary" (click)="buyPenguin()">
              <div>
                <span>Buy</span>
              </div>
            </button>
          </td>
          
        </tr>
    <tr *ngFor="let patient of availablePatients | async">
      <td>{{patient.patientId}}</td>
      <td>{{patient.patientSSNHash}}</td>
      <td>{{patient.patientInfoHash}}</td>
      <td><img src="assets/images/penguins/mtbc.JPG" height="50px" width="50px"></td>
      
    </tr>
  </table>

 
</section>
